{# vim ft:jinja #}
{% extends "!layout.html" %}
{% block footer %}
<ul class="footer_nav">
  <li class="prev">
  {%- if prev %}
    Previous Chapter: <a href="{{ prev.link|e }}">{{ prev.title }}</a>
  {%- endif %}
  </li>

  <li class="next">
  {%- if next %}
    Next Chapter: <a href="{{ next.link|e }}">{{ next.title }}</a>
  {%- endif %}
  </li>
</ul>
{{ super() }}
{% endblock %}
